<header class="HautDePage">

          <img class="ImageBureau" src="static/assets/bureau.png" />

          <div class="BarreDeRecherche">

            <div class="text1">
              <div class="text">Metiers, Enterprises, Stages...</div>
            </div>

            <img class="line2" src="static/assets/vertical-line.png" />

            <div class="text2">
              <div class="text">Villes, Régions, Pays...</div>
            </div>

            <img class="loupe" src="static/assets/loupe.png" />

          </div>
          </header>