<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StageConnect - Voir l'offre</title>
    <link rel="stylesheet" href="static/style1.css">
</head>
<body>
    <div class="desktop">
        <div class="siteweb">
            
            {% include 'navbar.html.twig' %}
            {% include 'header.html.twig' %}

            <main>
                <img class="EDF1" src="static/assets/logo-edf.jpeg" />
                <a href="bouygues-Télécom.html"><h3 class="text22">EDF</h3></a>
                <img class="line9" src="static/assets/vertical-line.png" />
                <h1 class="text23"><b>Développement Full- Stack F/H</b></h1>
                <div class="text24">Mise en ligne le 19/03/2025</div>
                <h2 class="text25"><b>Description de l’offre</b></h2>
                <div class="text26">EDF recrute son/sa futur.e stagiaire en développement Full - Stack.
                    Vous serez basé(e) au Minimes à 10mins de la gare .</div><br><br>
                <div class="text27">Un Groupe international, champion de la croissance bas carbone qui lutte au quotidien contre le réchauffement climatique !</div>    
                <div class="text28"><b>Vos missions:</b></div>
                <div class="text29">
                    <ul>
                        <li>Travailler sur un projet logiciel (Java/JavaEE, JavaScript, API Rest, PostgreSQL, MongoDB)</li><br>
                        <li> Travailler sur un projet industrialisé (GIT, GITLab_CI, CD, Sonar, Artifactory).</li><br>
                    </ul>
                </div>
                <div class="text30"><b>Ce que nous offrons</b></div>   
                <div class="text31">
                    <ul>
                        <li>Tu déménages pour ton alternance ? EDF peut t'aider à financer une partie de ton loyer.</li><br>
                        <li>Tu bénéficies d’une prime d’intéressement et d’une couverture sociale.</li>
                    </ul>
                </div>    
                <h3 class="text32"><b>Profil souhaité</b></h3> 
                <img class="niveau3" src="static/assets/Niveau.png"/> 
                <div class="text33">Vous êtes en deuxième année et vous cherchez un stage de validation de fin d’année pour une durée de 3 ou 4 mois, cette offre est faites vous.</div>
                <div class="text34">Postuler ici </div>
                <img class="line4" src="static/assets/Vector1.png"/>
                <button type="submit">POSTULER</button>
            </main>
            
            {% include 'footer.html.twig' %}

        </div>
    </div>
</body>
</html>