        <nav class="navbar">

          <img class="cesi" src="../static/assets/cesi.png" />
          <img class="StageConnect" src="../static/assets/stageconnect.jpg" />

          <div class="bloc1">
            <div class="PageAccueil">Page <br />d’accueil</div>
            <img class="line1" src="../static/assets/horizontal-line.png" />
          </div>

          <div class="bloc2">
            <div class="OffreEmploi">Offre<br />d’emploi</div>
            <div class="AvisEntreprise">Avis<br />Entreprise</div>
          </div>

          <div class="rectangle1">
            <a href="Inscription.php" class="inscription">Inscription</a>
          </div>

          <div class="rectangle2">
            <a href="Connexion.php" class="connexion">Connexion</a>
          </div>
          
        </nav>