<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/globals.css" />
    <link rel="stylesheet" href="static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StageConnect</title>
  </head>

  <body>
    <div class="desktop">

      <div class="siteweb">

      {% include 'header.html.twig' %}

      </div>

    </div>
  </body>
</html>