<main>
          <section>

            <article>
              <div class="edf">
                  <div class="rectangle3"></div>
                  <img class="ImageOffre" src="static/assets/edf.jpg" />
                  <h3 class="stage">Développement Full - Stack F/H</h3>
                  <p class="lieu">La Rochelle</p>
                  <img class="fleche" src="static/assets/fleche.png"/>
              </div>
            </article>

            <article>
              <div class="bouygues">
                  <div class="rectangle3"></div>
                  <img class="ImageOffre" src="static/assets/buy.jpg" />
                  <h3 class="stage">Stage - Réseaux Fibre F/H</h3>
                  <p class="lieu">Puilboreau, La Rochelle</p>
                  <img class="fleche" src="static/assets/fleche.png"/>
              </div>
            </article>

            <article>
              <div class="thales">
                  <div class="rectangle3"></div>
                  <img class="ImageOffre" src="static/assets/thales.jpg" />
                  <h3 class="stage">Stage - Analyse Des Vulnérabilités F/H</h3>
                  <p class="lieu">La Rochelle</p>
                  <img class="fleche" src="static/assets/fleche.png"/>
              </div>
            </article>

          </section>

          <section class="apdne">

            <h2>À Propos De Notre Entreprise</h2>

            <div class="rectangle4">
                  <p class="entreprise">
                      StageConnect est une plateforme et également une entreprise de conception en site web conçue pour faciliter la recherche de stage des étudiants.
                  </p>
            </div>

            <img class="ImageBatiment" src="static/assets/batiment.jpg" />     
            <img class="ImageStage" src="static/assets/stage.jpg" />

            <div class="rectangle5">
                  <p class="presentation">
                      Grâce à des filtres avancés et un regroupement centralisé des offres, trouvez rapidement l’opportunité qui vous correspond. Simple, rapide et efficace !
                  </p>
            </div>

          </section>

          <section>

            <h2 class="PresentationEquipe">Presentation Equipe</h2>
            
            <article>
              <div class="rectangle6">
                <img class="Photo" src="maxime" />
                <h3 class="maxime">Maxime</h3>
                <p class="description">
                  Technicien Informatique
                </p>
              </div>
            </article>

            <article>
              <div class="rectangle7">
                <img class="Photo" src="static/assets/nino.jpg" />
                <h3 class="nino">Nino</h3>
                <p class="description">
                  Technicien Informatique
                </p>
              </div>
            </article>

            <article>
              <div class="rectangle8">
                <img class="Photo" src="static/assets/carole.jpeg" />
                <h3 class="Carole">Carole</h3>
                <p class="description">
                  Technicien Informatique
                </p>
              </div>
            </article>

            <article>
              <div class="rectangle9">
                <img class="Photo" src="static/assets/marco.jpeg" />
                <h3 class="marco">Marco</h3>
                <p class="description">
                  Technicien Informatique
                </p>
              </div>
            </article>

            <img class="ChevronFermant" src="static/assets/right-arrow.png" />
            <img class="ChevronOuvrant" src="static/assets/left-arrow.png" />
            <img class="ChevronFermant2" src="static/assets/right-arrow.png" />
          
          </section>
         
          <section>

            <img class="ImageMissions" src="static/assets/missions.jpg" />
            <h2 class="NosMissions">Nos Missions</h2>

            <div class="bloc3">
              <h3 class="titre">Trouve ton stage avec nous</h3>
              <ul class="ListeMissions">
                  <li>📄 Envoi de CV et Lettre de motivation</li>
                  <li>🤝 Mise en relation avec les entreprises</li>
                  <li>📝 Aide à la rédaction des documents</li>
                  <li>📅 Accompagnement dans la recherche</li>
                  <li>🎯 Conseils pour les entretiens</li>
              </ul>
            </div>

          </section>
        </main>