        <nav class="navbar">

          <img class="cesi" src="static/assets/cesi.png" />
          <img class="StageConnect" src="static/assets/stageconnect.jpg" />

          <div class="bloc1">
            <a href="index.php?page=accueil" class="PageAccueil">Page <br />d’accueil</a>
            <img class="line1" src="static/assets/horizontal-line.png" />
          </div>

          <div class="bloc2">
            <a href="index.php?page=offre_emploi" class="OffreEmploi">Offre<br />d’emploi</a>
            <a href="index.php?page=avis_entreprise" class="AvisEntreprise">Avis<br />Entreprise</a>
          </div>

          <div class="rectangle1">
            <a href="index.php?page=inscription" class="inscription">Inscription</a>
          </div>

          <div class="rectangle2">
            <a href="index.php?page=connexion" class="connexion">Connexion</a>
          </div>
          
        </nav>