<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StageConnect - Voir l'offre</title>
    <link rel="stylesheet" href="static/style1.css">
</head>
<body>
    <div class="desktop">
        <div class="siteweb">
            
            {% include 'navbar.html.twig' %}
            {% include 'header.html.twig' %}

            <main>
                <img class="ImageBouygues1" src="static/assets/logo-bouygues-telecom.gif" />
                <a href="bouygues-Télécom.html"><h3 class="text22">Bouygues-Télécom</h3></a>
                <img class="line9" src="static/assets/vertical-line.png" />
                <h1 class="text23"><b>Administrateur réseau (F/H)</b></h1>
                <div class="text24">Mise en ligne le 19/03/2025</div>
                <h2 class="text25"><b>Description de l’offre</b></h2>
                <div class="text26">Bouygues Telecom recrute son/sa futur.e stagiaire en administrateur réseau.
                    Vous serez basé(e) à Niort, situé à 10 mins de la gare.</div><br><br>
                <div class="text27">La Direction des Systèmes d'Information (DSI), s'inscrit au cœur de l'innovation et joue un rôle crucial dans la mise en œuvre des stratégies et des projets de transformation numérique de Bouygues Telecom.</div>    
                <div class="text28"><b>Vos missions:</b></div>
                <div class="text29">
                    <ul>
                        <li>Gestion et maintenance : Assurer l'administration, la sécurisation et la maintenance des infrastructures systèmes et réseaux (serveurs, équipements réseau, solutions de virtualisation, etc.).</li><br>
                        <li>Déploiement et configuration : Installer, configurer et mettre à jour les équipements, tout en garantissant leur performance et leur sécurité.</li><br>
                    </ul>
                </div>
                <div class="text30"><b>Ce que nous offrons</b></div>   
                <div class="text31">
                    <ul>
                        <li>Un environnement de travail stimulant</li><br>
                        <li>Des opportunités de formation continue et d’évolution professionnelle.</li>
                    </ul>
                </div>    
                <h3 class="text32"><b>Profil souhaité</b></h3> 
                <img class="niveau3" src="static/assets/Niveau.png"/> 
                <div class="text33">Vous êtes en deuxième année et vous cherchez un stage de validation de fin d’année pour une durée de 3 ou 4 mois, cette offre est faites vous.</div>
                <div class="text34">Postuler ici </div>
                <img class="line4" src="static/assets/Vector1.png"/>
                <button type="submit">POSTULER</button>
            </main>
           
            {% include 'footer.html.twig' %}

        </div>
    </div>
</body>
</html>